<h1>Endpoints in the system</h1>

<p><a href="customers.html">customers.html</a> - plain html dummy</p>
<p><a href="customers/">customers/</a> - HTML list with all customers</p>
<p></p><a href="customers/json">customers/json</a> - RESTful endpoint (GET, POST)</p>