body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  color: #00B7FF;
}

.RED, .red {
  background-color: red;
}

.PINK {
  background-color: pink;
}
.WHITE {
  background-color: white;
}

#overskrift {
  border: solid green 2px;
} 

#klokke {
  text-align:right;
}